.game {
    margin-bottom: 20vh !important;
    margin-right: 20vh !important;
}

.dialog {
    height: 60vh !important;
    min-height: 60vh !important;
    left: 25% !important;
    top: 10% !important;
    transform: translate(0%, 0%) !important;
}

body.hide-dialogs .dialog-overlay {
    display: none !important;
}