.pr-bar {
    position: fixed;
    pointer-events: auto;
    z-index: 9999;
    display: flex;
}

#pr-bottom-bar {
    width: 100%;
    height: 20vh;

    left: 0;
    bottom: 0;
}

#pr-side-bar {
    width: 20vw;
    height: 80vh;

    right: 0;
    top: 0;
}

.pr-bar>div {
    margin: 20px;
    padding: 10px;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    transition: background-color 50ms linear;
}

body.is-refreshing .pr-bar>div {
    transition: background-color 200ms linear;
}

#media-control {
    display: flex;
    margin: 10px;
    height: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#media-control>div {
    width: 100%;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.media-slider {
    width: 100%;
}

.media-slider:focus {
    outline: none;
    box-shadow: 0 0 0 black;
}

.media-button {
    width: 10vw;
    height: 5vh;
    font-size: 1rem;
}

.media-text {
    width: 20vw;
    height: fit-content;
    text-align: center;
}

.media-select {
    width: 6vw;
    height: 5vh;
}

.media-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}